<div class="container">

<h3>Home</h3>
<% @users.each do |user| %>
  <p>User: <%=link_to user.name, user %></p>
<% end %>


		<ul>
			<li><a href="#" class="genre">dubstep</a></li>
			<li><a href="#" class="genre">electronic</a></li>
			<li><a href="#" class="genre">punk</a></li>
		</ul>


		<div id="target">
			<!-- SOUNDCLOUD PLAYER LOADS HERE -->
		</div>
	
</div>




<div class="jumbotron">
		<img src="http://cloud-media.com/wp-content/uploads/2013/12/songpoll-beta-logo-3-.png">
</div>